.card-custom {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
}

.btn-primary {
    background-color: #3699ff;
    border-color: #3699ff;
}

.btn-primary:hover {
    background-color: #2575ce;
    border-color: #2575ce;
}

  