<div class="footer py-4 d-flex flex-lg-column" id="kt_footer" style="background-color: rgba(254, 191, 96, 0.753);">
    <!--begin::Container-->
    <div class="container d-flex flex-column flex-md-row align-items-center justify-content-between">
        <!--begin::Copyright-->
        <div class="text-dark order-2 order-md-1">
            <span class=" font-weight-bold mr-2 text-dark-75">2024© </span>
            <a href="https://www.mesoamericana.edu.gt" target="_blank" class="text-dark-75 text-hover-primary">Mantenimiento UMES</a>
        </div>
        <!--end::Copyright-->
        <!--begin::Nav-->
        <div class="nav nav-dark order-1 order-md-2">
            <a href="http://keenthemes.com/metronic" target="_blank" class="nav-link text-dark-75 pr-3 pl-0">About</a>
            <a href="http://keenthemes.com/metronic" target="_blank" class="nav-link text-dark-75 px-3">Team</a>
            <a href="http://keenthemes.com/metronic" target="_blank" class="nav-link text-dark-75 pl-3 pr-0">Contact</a>
        </div>
        <!--end::Nav-->
    </div>
    <!--end::Container-->
</div>