<div id="kt_header" class="header header-fixed">
  <!--begin::Container-->
  <div class="container d-flex align-items-stretch justify-content-between">
    <!--begin::Left-->
    <div class="d-flex align-items-stretch mr-3">
      <!--begin::Header Logo-->
      <div class="header-logo">
        <a href="javascript:;" [routerLink]="['/dashboard']">
          <img alt="Logo" src="assets/media/imagenes/Bendicion.png" class="logo-default max-h-40px" />
          <img alt="Logo" src="assets/media/imagenes/Bendicion.png" class="logo-sticky max-h-40px" />
        </a>
      </div>
      <!--end::Header Logo-->
      <!--begin::Header Menu Wrapper-->
      <div class="header-menu-wrapper header-menu-wrapper-left" id="kt_header_menu_wrapper">
        <!--begin::Header Menu-->
        <div id="kt_header_menu" class="header-menu header-menu-left header-menu-mobile header-menu-layout-default">
          <!--begin::Header Nav-->
          <ul class="menu-nav">
            <li class="menu-item menu-item-open menu-item-submenu menu-item-rel menu-item-open"  [ngClass]="{'menu-item-hover': isRouteActive('/dashboard')}"  aria-haspopup="true">
              <a href="javascript:;" class="menu-link menu-toggle" [routerLink]="['/dashboard']">
                <span class="menu-text">Inicio</span>
                <i class="menu-arrow"></i>
              </a>
            </li>
            <li class="menu-item menu-item-open menu-item-submenu menu-item-rel menu-item-open" [ngClass]="{'menu-item-hover': isRouteActive('/user')}"  aria-haspopup="true">
              <a href="javascript:;" class="menu-link menu-toggle" [routerLink]="['/user']">
                <span class="menu-text">Usuarios</span>
                <i class="menu-arrow"></i>
              </a>
            </li>
            <li class="menu-item menu-item-open menu-item-submenu menu-item-rel menu-item-open" [ngClass]="{'menu-item-hover': isRouteActive('/customers')}"  aria-haspopup="true">
              <a href="javascript:;" class="menu-link menu-toggle" [routerLink]="['/customers']">
                <span class="menu-text">Clientes</span>
                <i class="menu-arrow"></i>
              </a>
            </li>
            <li class="menu-item menu-item-open menu-item-submenu menu-item-rel menu-item-open" [ngClass]="{'menu-item-hover': isRouteActive('/suppliers')}"  aria-haspopup="true">
              <a href="javascript:;" class="menu-link menu-toggle" [routerLink]="['/suppliers']">
                <span class="menu-text">Proveedores</span>
                <i class="menu-arrow"></i>
              </a>
            </li>
            <li class="menu-item menu-item-open menu-item-submenu menu-item-rel menu-item-open" [ngClass]="{'menu-item-hover': isRouteActive('/products')}"  aria-haspopup="true">
              <a href="javascript:;" class="menu-link menu-toggle" [routerLink]="['/products']">
                <span class="menu-text">Productos</span>
                <i class="menu-arrow"></i>
              </a>
            </li>
            <li class="menu-item menu-item-open menu-item-submenu menu-item-rel menu-item-open" [ngClass]="{'menu-item-hover': isRouteActive('/sales')}"  aria-haspopup="true">
              <a href="javascript:;" class="menu-link menu-toggle" [routerLink]="['/sales']">
                <span class="menu-text">Ventas</span>
                <i class="menu-arrow"></i>
              </a>
            </li>
          </ul>
          <!--end::Header Nav-->
        </div>
        <!--end::Header Menu-->
      </div>
      <!--end::Header Menu Wrapper-->
    </div>
    <!--end::Left-->
    <!--begin::Topbar-->
    <div class="topbar">
      <!--begin::User-->
      <div class="dropdown">
        <!--begin::Toggle-->
        <div class="topbar-item">
          <div class="btn btn-icon btn-hover-transparent-white d-flex align-items-center btn-lg px-md-2 w-md-auto">
            <span class="text-white opacity-70 font-weight-bold font-size-base d-none d-md-inline mr-1">Hi,</span>
            <span class="text-white opacity-90 font-weight-bolder font-size-base d-none d-md-inline mr-4">Usuario</span>
            <span class="symbol symbol-35">
              <span class="symbol-label text-white font-size-h5 font-weight-bold bg-white-o-30">U</span>
            </span>
          </div>
        </div>
        <!--end::Toggle-->
      </div>
      <!--end::User-->
      <!--begin::SignOut-->
      <div class="topbar-item">
        <div class="btn btn-icon btn-hover-transparent-white d-flex align-items-center btn-lg px-md-2 w-md-auto" (click)="logout()">Cerrar Sesión</div>
      </div>
    </div>
    <!--end::Topbar-->
  </div>
  <!--end::Container-->
</div>